<div class="center jumbotron">
<h1>Asokwa Soccer</h1>

<h2><i>Exciting soccer news and brilliant analysis</i></h2>
<br />
<h3>Countdown to the start of UEFA Euro 2016!</h3>
<div id="getting-started"></div>
<script type="text/javascript">
  $("#getting-started")
  .countdown("2016/06/10", function(event) {
    $(this).text(
      event.strftime('%D days %H:%M:%S')
    );
  });
</script>
</div>

<% @articles.each do |article| %>
  <div class="main-box col-xs-10 col-xs-offset-1">
		<h1><%= article.title %></h1><br />
		<i><%= article.league %></i><br />
		<p><%= article.body %></p><br />
  </div>
<%end%>


